@media screen and (max-width: 700px) {

    main {
        overflow-x: hidden;
    }

    #om_title1 {
        font-size: 40px;
        color: rgba(45, 64, 43, 1);
        text-align: center;
    }

    main {
        margin: 30px;
        margin-bottom: 0;
    }



    #om_title2 {
        font-size: 90px;
        color: rgba(177, 13, 6, 1);
        position: relative;
        top: -40px;
        left: 50px;

    }

    #hvem {
        color: rgba(177, 13, 6, 1);
        position: relative;
        left: 150px;
        top: -30px;
        font-size: 20px;
    }


    .billede {
        display: flex;
        justify-content: center;
    }

    .om_tekst h3 {
        margin-bottom: 0;
        font-family: open_regular;
        font-size: 16px;
    }

    .førstesem h3 {
        font-family: open_regular;
        font-size: 16px;
        position: relative;
        top: 10px;
    }

    .om_tekst p {
        margin-top: 0;
        line-height: 2em;

    }

    .lidtommig {
        margin-bottom: 40px;
    }

    .ommig {
        font-family: open_regular;
        font-size: 16px;
    }

    .ikon-liste {
        list-style: none;
        padding: 0;
    }

    .ikon-liste li {
        position: relative;
        padding-left: 35px;
        margin-bottom: 15px;
    }

    .ikon-liste li::before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
        width: 40px;
        height: 40px;
        background-image: url('img/stjerne_li.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .dato {
        font-family: pectia;
        font-size: small;
    }

    .overskrift {
        font-family: open_regular;
        font-size: small;
    }

    .to-kolonner {
        display: flex;
        gap: 40px;
    }

    .program_flex {
        margin-top: 30px;
    }

    .ikon-liste {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .ikon-liste li {
        margin-bottom: 15px;
    }

    .ikon-liste li {
        position: relative;
        padding-left: 35px;
        margin-bottom: 30px;
    }


    .mere_mig img {
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .cv {
        background-color: rgba(217, 193, 185, 0.36);
        padding: 15px;
        padding-top: .5px;
        border-radius: 5px;
        margin-top: 20px;
    }

    #portræt {
        width: 50%;
        margin-top: 50px;
    }

    #stjerne_om1 {
        position: relative;
        top: -250px;
        left: 20px;
        width: 20%;
    }

    #stjerne_om2 {
        position: relative;
        top: -50px;
        left: 169px;
        width: 20%;
    }
}

@media screen and (min-width: 701px) {
    main {
        margin: 150px;
        margin-bottom: 0;
        padding-top: 0px;
        margin-top: 0px;
    }



    .om_title {
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 50px;
        color: rgba(45, 64, 43, 1);
    }


    #hvem {
        color: rgba(177, 13, 6, 1);
        position: relative;
        top: 120px;
        left: -100px;
        font-size: 25px;
    }

    .om_tekst {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
        margin: 50px;
        align-items: center;
        line-height: 2em;
    }

    h3 {
        margin-bottom: 0;
        font-family: open_regular;
        font-size: 17px;
    }

    .om_tekst p {
        margin-top: 0;
        font-size: 15px;

    }

    .lidtommig {
        margin-bottom: 40px;
    }

    .billede {
        display: flex;
        justify-content: center;
    }

    #portræt {
        width: 70%;
        height: auto;
    }

    .ommig {
        font-family: open_regular;
        font-size: 20px;
        padding-bottom: 50px;
    }


    .cv {
        display: flex;
        gap: 50px;
        justify-content: center;
        margin: 50px;
        background-color: rgba(217, 193, 185, 0.36);
        padding: 20px;
        border-radius: 5px;
        position: relative;
        top: -120px;
    }

    .cv_section {
        max-width: 600px;
        flex: 1 1 400px;
    }

    .ikon-liste {
        list-style: none;
        padding: 0;
    }

    .ikon-liste li {
        position: relative;
        padding-left: 35px;
        margin-bottom: 15px;
    }

    .ikon-liste li::before {
        content: "";
        position: absolute;
        left: 0;
        top: -9px;
        width: 40px;
        height: 40px;
        background-image: url('img/stjerne_li.png');
        background-size: contain;
        background-repeat: no-repeat;
    }

    .dato {
        font-family: pectia;
        font-size: 20px;
    }

    .overskrift {
        font-family: open_regular;
        font-size: 19px;
    }

    .ikon-liste li {
        position: relative;
        padding-left: 35px;
        margin-bottom: 30px;
    }

    .mere_mig {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #mig_komp {
        width: 80%;
    }

    #portræt {
        width: 80%;
    }

    #stjerne_om1 {
        position: relative;
        top: -500px;
        left: 700px;
    }

    #stjerne_om2 {
        position: relative;
        top: -205px;
        left: 840px;
    }

    .førstesem {
        margin: 50px;
        position: relative;
        top: -190px;
        text-align: justify;
        hyphens: auto;

    }

}